<%= tag.nav data: {controller: "data-attribute", data_attribute_key_value: "show-menu"}, class: container_css do %>
  <div class="flex items-center justify-between grow">
    <div class="shrink-0 gap-2 flex items-center py-2">
      <%= tag.div logo, class: "" if logo? %>
    </div>

    <button method="get" data-action="data-attribute#toggle" class="flex items-center justify-center h-10 w-10 md:hidden">
      <%= icon "bars-3", class: "size-6 group-data-[show-menu]/navigation:hidden" %>
      <%= icon "x-mark", class: "hidden size-6 group-data-[show-menu]/navigation:block" %>
    </button>
  </div>

  <%= tag.div class: menu_items_css do %>
    <div class="flex flex-col gap-4 md:flex-row md:items-center md:justify-end">

      <div class="flex flex-col md:flex-row md:items-center md:gap-6 md:ml-auto">
        <%= tag.ul class: links_css do %>
          <% links.each do |link| %>
            <%= link %>
          <% end %>
        <% end if links? %>

        <%= tag.ul class: "flex flex-col gap-3 shrink-0 max-md:mx-2 md:flex-row md:items-center md:ml-8" do %>
          <%= tag.li primary_action, class: "[&>a]:flex [&>a]:justify-center [&>a]:items-center [&>a]:px-4 [&>a]:py-2 [&>a]:text-base [&>a]:font-semibold [&>a]:text-white [&>a]:bg-indigo-500 [&>a]:rounded-xl [&>a]:hover:bg-indigo-600" if primary_action? %>

          <% secondary_links.each do |link| %>
            <%= link %>
          <% end %>
        <% end if primary_action? || secondary_links? %>
      </div>
    </div>
  <% end %>
<% end %>
